@font-face {
  font-family: 'creepy';
  src: url("fonts/creepy.otf") format("opentype"),
        url('fonts/creepy.ttf') format("truetype");
}

.title{
  font-family: 'creepy', sans-serif;
  font-size: 340px;
  color: white;
}

.character {
  width: 50px;
  height: 50px;
  background-color: blue;
  position: absolute;
  top: 50%; /* Centers the character vertically */
  transform: translateY(-50%); /* Align center to the position */
  transition: transform 0.1s; /* Smooth transition for movement */
}

#character {
  position: absolute;
  width: 200px;
  /* background-color: #007bff;  Example color */
  /* border-radius: 50%; Makes it circular */ 
  transition: left 0.2s ease; /* Smooth movement */
}
/* Basic styling */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.screen {
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
}

.screen.active {
  display: flex;
}

.img-element{
  display: block;
  position: absolute;
  
}

button.nav-button {
  margin: 10px;
  padding: 10px 20px;
}
